<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- We learnt about the popular languages used by Data Scientists.
- We learnt about commonly used libraries by data scientists.
- The course expains about the different data science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. Pytorch

Data Science Tools
------------------
Rstudio | Spark | TensorFLow

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
a = 1
b = 2
print(a+b)

3

In [2]:
a = 3
b = 5
print(a*b)

15

In [3]:
a = 6
b = 7
print(a**b)

279936

In [4]:
a = 6
b = 12
print(a/b)

0.5

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.